<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Devour Burgers!</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
    <div>
        {{{ body }}}
    </div>
    <hr>

    <footer class="center footer">
        <div class="container">
            <p> Burger app</p>
        </div>
    </footer>
</body>

</html>